body {
    font-family: "Inter", sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('../pictures/beeBackgroundPlaceholder.svg'); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size:cover; 

    
    background-size: cover;
    position: relative; 
}

h1 {
    font-size: 4em;
    color: #333;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.3rem;
}



a {
    text-decoration: none;
    color: #333;
    text-decoration: underline;
    font-size: 0.9em;
}

img {
    width: min(25vw, 370px); 
    height: auto;
    aspect-ratio: 1;
    position: absolute;
    right: 51%; 
    margin-right: -40.5%; 
    margin-bottom: 20%; 
    transform: rotate(-90deg);
    animation: flyingBee 3s ease-in-out infinite;
}

@keyframes flyingBee {
    0% {
        transform: rotate(-90deg) translate(0, 0);
    }
    50% {
        transform: rotate(-90deg) translate(0, -15px);
    }
    100% {
        transform: rotate(-90deg) translate(0, 0);
    }
}
@media (max-width: 1500px) {
    
    img {
        margin-right: -45%;
    }
}
@media (max-width: 1400px) {
    
    img {
        margin-right: -47%;
    }
}
@media (max-width: 1300px) {
    
    img {
        margin-right: -49%;
    }
}
@media (max-width: 1200px) {
    
    img {
        margin-right: -54%;
    }
}




@media (max-width: 1110px) {
    body {
        background-image :none;
        background-color: #fff;
    }
    img {
        display:none;
    }
}